
# Stuff we always want to exclude
*.tar.gz
*.pyc
__pycache__

# vim stuff
*.swo
*.swp

# Images
*.jpg
*.png

# Text files, pickle files, etc.
*.txt
*.p
*.pkl
*.json

# Random directories
data/

# Where I save neural networks
nets/

# I prefaced virtualenvs with this.
venv*

# Saving results here
results/
